target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.mvn/
mvnw
mvnw.cmd
.factorypath

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.expo/
dist/
web-build/
expo-env.d.ts
/ios/
/android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/
.metro-health-check*

.env
.env.local
.env.*.local
*.pem

.idea/
*.iml
*.ipr
*.iws
.vscode/
.DS_Store
Thumbs.db
desktop.ini
*.tsbuildinfo
build/
out/
